{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "react",
    "flow"
  ],
  "plugins": ["emotion", "transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "test": {
      "presets": ["env", "react", "flow"],
      "plugins": ["emotion", "transform-object-rest-spread", "transform-class-properties"]
    }
  }
}
