{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["flowtype", "import", "react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "react/prop-types": [1, { "skipUndeclared": true }],
    "react/sort-comp": [
      1,
      {
        "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "peerDependencies": true }
    ]
  }
}
